/* Estilos para las tarjetas de lugares para bodas */
.place-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.place-card {
  flex-basis: calc(25% - 100px);
  min-width: 233px;
  margin: 20px;
  padding: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  background-color: #b89696;
}

.place-card img {
  width: 100%;
  height: auto;
  min-height: 235px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.place-card h3 {
  color: #d22630;
  margin-bottom: 10px;
}

.place-card p {
  margin-bottom: 10px;
}

.place-card a {
  display: inline-block;
  padding: 8px 16px;
  background-color: #d22630;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.place-card a:hover {
  background-color: #fff;
  color: #d22630;
  border: 1px solid #d22630;
}

#lugares-boda {
	margin-top: 105px;
}

.logosHeader {
  position: absolute;
  top: 50%;
  transform: translateY(-55%);
  font-size: 28px;
  color: #707070;
  
}

.adminLogo {
	padding: 0px !important;
	position: absolute;
    top: 50%;
    transform: translateX(-45px) translateY(-50%);
    font-size: 28px;
    color: #707070;
}

h2 {
	text-align: center;
}

.atras {
	padding: 0px !important;
    position: absolute;
    top: 50%;
    transform: translateX(24px) translateY(-55%);
    font-size: 28px;
    color: #707070;
}




/*BUSCADOR*/
/* Estilos para el buscador */

.search-container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}


label {
  margin-bottom: 5px;
}

input,
select {
  width: 16%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #d22630;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #fff;
  color: #d22630;
  border: 1px solid #d22630;
}

/* Estilos para los resultados del buscador */
#resultados-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
